*~
\#*#
\.#*
.htaccess
.idea/*
.com.apple.timemachine.supported
.ftpquota
.htaccess
.DS_Store
web-app/application/cache/*
web-app/application/config/assets.php
web-app/application/config/database.php
web-app/application/config/config.php
web-app/application/config/email.php
web-app/application/config/rsa_private_key.pem
web-app/application/logs/*
web-app/assets/data*/*
tmp/*
.project
.settings/*
robots.txt
